<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiyuan.member.mapper.RechargeMapper">
    <update id="updateRechargeRecord">
        update recharge_record
        <set>
            <if test="rechargeMoney != null">recharge_money = #{rechargeMoney},</if>
            <if test="rechargeMethod != null">rechargeMethod = #{rechargeMoney},</if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteRechargeRecord" parameterType="list">
        delete from recharge_record where id in
        <foreach collection="list"  item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectPageQuery" resultType="com.yiyuan.member.domain.entity.Recharge" parameterType="com.yiyuan.member.domain.dto.PageQueryDTO">
        select * from recharge_record r
        <where>

        </where>
        order by recharg_time
    </select>
</mapper>